@page "/authentication/{action}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

@if (Action == "logout")
{
    <p style="color: white; text-align: center;">Logging out...</p>
}
else
{
    <RemoteAuthenticatorView Action="@Action" />
}

@code {
    [Parameter] public string Action { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Action == "logout")
        {
            await SignOutManager.SetSignOutState();
            Navigation.NavigateTo(
                "https://dev-fye25mtdiciuqtin.us.auth0.com/v2/logout?client_id=IGtzqEqmUYri7hI0NsJQ2NvWvtkmbqb3&returnTo=https://heroic853.github.io/Heroic853SiteV1",
                forceLoad: true);
        }
    }
}