@page "/MessageOfGratitude"

<style>
    body {
        background-image: url('images/SfondoClasifications.png');
        background-size: 100% 180%;
    }
</style>

<style>
    .section-title {
        text-align: center;
        color: gold;
        font-family: 'Cinzel', serif;
        font-weight: 500;
        font-size: 5rem;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
        margin: 2rem 0;
    }

    .message-text {
        text-align: center;
        font-style: italic;
        color: white;
        font-size: 1.2rem;
        line-height: 1.8;
        max-width: 800px; /* ← Limita la larghezza */
        margin: 0 auto; /* ← Centra il blocco */
        padding: 0 2rem;
    }

    @@media (max-width: 480px) {

        body {
            background-size: 100% 200%;
        }
        .section-title {
            font-size: 1.5rem;
        }
       
        .message-text {
            font-size: 1rem;
            padding: 0 1rem;
            max-width: 100%;
        }
    }   
</style>

<p class="section-title">Message of Gratitude</p>


<p class="message-text">
    I thank everyone for the support over all these years for my mod creations!
    It has been a long time imagining all those ideas, and for this reason, I decided to create
    a website to celebrate my years of modding.
    You will find the ranking of the best monsters you have faced, their videos, and a page dedicated
    to the dark monster ideas that never made it into the game.
    There is also a page where you can leave feedback on my mods or create your own mod idea and send it to me!
</p>